<div class="card">
    <h3 class="card-header">Login</h3>
    <form id="login-form" class="card-body">
        <label for="username-login" class="form-label">Username</label>
        <input type="text" autofocus="true" id="username-login" class="form-input" />
        <label for="password-login" class="form-label">Password</label>
        <input type="text" autofocus="true" id="password-login" class="form-input" />
        <button type="submit" class="btn">Login</button>
        <a href="/signup" class="login-link">New User? Signup!</a>
    </form>
</div>

<script src="/javascript/login.js"></script>