<div class="card">
    <h3 class="card-header">Signup Today</h3>
    <form class="card-body" id="signup-form">
        <label for="username-signup" class="form-label">Username</label>
        <input type="text" id="username-signup" class="form-input" />
        <label for="password-signup" class="form-label">Password</label>
        <input type="password" id="password-signup" class="form-input" />
        <button type="submit" class="btn">Start Blogging!</button>
        <a href="/login" class="login-link">Already a user? Login!</a>
    </form>
</div>

<script src="/public/javascript/signup.js"></script>