:root {
    --primary: #19e48f;
    --secondary: silver;
    --tertiary: #ff5555;
    --light-dark: #797979;
    --dark: #0f0808;
    --border-radius: .2rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: var(--dark);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.15;
    color: var(--dark);
    font-weight:600;
    margin: 0;
}

.link-color {
    color: car(--tertiary);
    margin: 10px;
    padding: 8px;
}

main {
    width: 92%;
    margin: 23px auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
}

p {
    font-size: 1.3rem;
}

.btn {
    display: block;
    margin: 6px 0;
    width: 100%;
    border: 1px solid black;
    outline: none;
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    padding: 5px 5px;
    transform: translate(-1px, -1.5px);
}

.btn:hover {
    background-color: var(--tertiary);
    color: var(--primary);
    box-shadow: 2px 3px var(--dark);
    transform: translate(0, 0);
}

.btn-inline {
    display: inline;
}

.btn-back {
    font-size: 1.1rem;
    color: var(--primary);
    background-color: var(--light-dark);
    margin-top: 20px;
    padding: 17px;
    text-decoration: none;
    border: 1px solid black;
    outline: none;
    width: auto;
    border-radius: var(--border-radius);
    transform: translate(-1px, -1px);
    box-shadow: 4px 4px var(--secondary);
    display: inline-block;
}

.btn-back:hover {
    box-shadow: 3px 3px var(--dark);
    background-color: var(--tertiary);
    color: var(--primary);
    transform: translate(0, 0);
}

.hero {
    color: var(--primary);
    background-color: var(--dark);
    padding: 4% 4%;
}

.hero p {
    max-width: 80%;
}

.app-title {
    display: inline-block;
    color: var(--dark);
    background-color: var(--primary);
    padding: 0 10px;
    font-size: 3.25rem;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px var(--light-dark);
}

.list-group {
    list-style: none;
    padding: 0;
}

.list-item {
    text-decoration: none;
    color: var(--primary);
    background-color: var(--light-dark);
    padding: 1.5%;
    margin-bottom: 8px;
    border-radius: var(--border-radius);
}

.list-item:hover {
    background-color: var(--dark);
}

.status-icon {
    border-radius: var(--border-radius);
    background-color: gold;
    margin: 0 5px;
    padding: 3px 5px;
}

.icon-danger {
    color: rgb(255, 70, 70);
}

.card {
    border-radius: var(--border-radius);
    border: 2px solid var(--dark);
    margin: 0 0 15px 0;
}

.card-header {
    color: var(--primary);
    background-color: var(--dark);
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
    padding: 1%;
}

.card-body {
    padding: 1%;
}

h4 {
    color: var(--light-dark);
    margin: 0;
    font-weight: 600;
    line-height: 1.15;
}

.link {
    color: var(--primary);
}

.login-link {
    color: var(--dark);
}

.nav {
    padding: 10px;
    float: top;
    line-height: 1.15;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    border-top: 1px solid gold;
    font-size: 110%;
}

.form-label,
.form-input,
.form-textarea {
    display: block;
}

.form-label {
    font-size: 1.15rem;
    margin: 0 0 0 4px;
}

.form-input {
    width: 100%;
    margin: 5px 0;
    padding: 3%;
    border-radius: var(--border-radius);
    border: 2px solid var(--light-dark);
    font-size: 1.15rem;
}

.min-100-vh {
    min-height: 100vh;
}

.min-100-vw {
    min-width: 100vw;
}

.text-uppercase {
    text-transform: uppercase;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-flex-start {
    justify-content: flex-start
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-stretch {
    align-items: stretch;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.col-auto {
    flex-grow: 1;
}

.col-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
}

.col-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
}

.col-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
}

.col-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
}

.col-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
}

.col-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
}

.col-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
}

.col-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
}

.col-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
}

.col-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
}

.col-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
}

.col-12 {
    flex: 0 0 100%;
}

@media screen and (min-width: 640px) {
    .col-sm-1 {
        flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
    .col-sm-2 {
        flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
    .col-sm-3 {
        flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
    .col-sm-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
    .col-sm-5 {
        flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
    .col-sm-6 {
        flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
    .col-sm-7 {
        flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
    .col-sm-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
    .col-sm-9 {
        flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
    .col-sm-10 {
        flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
    .col-sm-11 {
        flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
    .col-sm-12 {
        flex: 0 0 100%;
    }
}

@media screen and (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
    .col-md-2 {
        flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
    .col-md-3 {
        flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
    .col-md-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
    .col-md-5 {
        flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
    .col-md-6 {
        flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
    .col-md-7 {
        flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
    .col-md-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
    .col-md-9 {
        flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
    .col-md-10 {
        flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
    .col-md-11 {
        flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
    .col-md-12 {
        flex: 0 0 100%;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
    .col-lg-2 {
        flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
    .col-lg-3 {
        flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
    .col-lg-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
    .col-lg-5 {
        flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
    .col-lg-6 {
        flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
    .col-lg-7 {
        flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
    .col-lg-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
    .col-lg-9 {
        flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
    .col-lg-10 {
        flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
    .col-lg-11 {
        flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
    .col-lg-12 {
        flex: 0 0 100%;
    }
}

@media screen and (min-width: 1200px) {
    .col-xl-1 {
        flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
    .col-xl-2 {
        flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
    .col-xl-3 {
        flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
    .col-xl-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
    .col-xl-5 {
        flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
    .col-xl-6 {
        flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
    .col-xl-7 {
        flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
    .col-xl-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
    .col-xl-9 {
        flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
    .col-xl-10 {
        flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
    .col-xl-11 {
        flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
    .col-xl-12 {
        flex: 0 0 100%;
    }
}